@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

.transition{
    transition: 0.3s ease-in-out;
}

:root{
    font-family: 'Poppins', sans-serif;

    --clr-400: #66D2D1;
    --clr-300: #9BE2E2;
    --clr-250: #adadb7;
    --clr-200: #D9D9E0;
    --clr-100: white;
    --clr-600: #3A3054;
    --clr-800: #232027;
    --clr-900: black;

    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;    
}

.bg-100{background-color: var(--clr-100);}
.bg-200{background-color: var(--clr-200);}
.bg-600{background-color: var(--clr-600);}
.bg-800{background-color: var(--clr-800);}
.content{color:var(--clr-250)}

.hr-nav{
    display: none;
}

/* desktop */
@media(min-width: 40em){

    body{
        align-items: center;
    }
    .horizontal{
        display: grid;
        grid-auto-flow: column;
    }
    .vertical{
        display:grid;
        grid-auto-flow: row;
    }

    .input-container{
        grid-template-columns: 0.75fr 0.25fr;
        gap: 1rem;
        overflow: hidden;
        height: 12rem;
        background-image: url(./images/bg-shorten-desktop.svg);
        background-size:cover;
    }
    .head{
        margin-bottom: 9rem;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .header{
        padding: 0.3rem;
        display: grid;
        gap:1.2rem;
    }
    .header>h1{
        font-size: 3.3rem;
        min-width: 110%;
        line-height: 4rem;
    }
    .header>button{
        max-width:12rem;
        padding:0.9rem;
        font-size: 1.4rem;
    }
    .header>p{
        max-width: 70%;
        font-size: 1.2rem;
    }
    .shortened-link{
        gap: 0.9rem;
        grid-template-columns: 0.7fr 0.3fr;
        font-size: 1.2rem;
    }
    .link-actual{
        justify-self: left;
    }
    .link-short{
        justify-self: right;
    }
    .shortened-link>button{
        width: 9rem;
        justify-self: right;
    }
    .heading{
        padding-bottom: 6rem;
    }
    .img-holder{
        padding: 2.5vw;
        margin-top: -25%;
        margin-bottom: 5%;
        min-width: 3.5rem;
    }
    .card{
        min-width: 85%;
    }
    .footer{
        height: 250px;
        background-image: url('./images/bg-boost-desktop.svg');
        background-size:cover;
    }
    .footer>button{
        font-size: calc(100% + 0.25rem);
    }
    .link-containers{
        max-width: 100%;
        /* overflow: hidden; */
        display: flex;
        flex-direction: row;
        flex-basis: 1 1 3;
    }
    
    .three{
        display: flex;
        flex-direction: row;
    }
    .two{
        display: flex;
        flex-direction: row;
        gap: 4.2rem;
    }
}

@media(min-width:100em){
    .header>h1{
        font-size: 4.8rem;
    }
    .header>p, .header>button{
        font-size: 1.5rem;
    }
    .fancy{
        text-decoration: underline black;
        text-underline-offset: 0.95rem;
        font-weight: var(--fw-medium);
        padding: 0.5rem;
    }
    .fancy:hover{
        background-color: var(--clr-600);
        color:white;
        cursor: pointer;
        border-radius: 0.25rem;
    }
}

.navbar{
    margin-top:2rem;
    margin-bottom:3rem;
    align-items: center;
}

.navbar,header,main,footer,.link-container{
    --max-width: 1100px;
    --padding: 10vw;
    padding-left: var(--padding);
    padding-right: var(--padding);    
    margin-inline: auto;
}
.nav-auth{
    color: white;
    gap: 2rem;
    align-items: center;
}
.nav-hello{
    justify-self: end;
}
.even-columns{
    display:grid;
    gap:1rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
}
.btn{
    border-radius: 100vmax;
    background-color: var(--clr-400);
    color: var(--clr-100);
    padding: 0.6em 1.2em;
    line-height: 1em;
    font-weight: var(--fw-semibold);
    transition: 0.3s ease-in-out;
}
.btn:hover,.btn:focus-visible{
    background-color: var(--clr-300);
    cursor: pointer;
}

.btn-google{
    padding: .5vw;
    margin:0;
    width: 5.5vw;
    height:3rem;
    display: grid;
    align-content: center;
    justify-content: center;
}
.signedout{
    width: 100%;
    height:3rem;
}


.nav-mobile>div>button{
    text-transform: capitalize;
    /* font-weight: var(--fw-regular); */
    font-size: 1.35rem;
}
.navbtn:hover, .navbtn:focus-visible{
    color: var(--clr-400);
    cursor: pointer;
}


.input-container{
    background-color: var(--clr-600);
    padding: 3rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    transform: translateY(-40%);
}

.input-container>div>input, .input-container>button{
    height: 4.2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0rem 1.5rem; 
}
.input-container>button, .input-container>div{
    align-self:center;
}
.errormsg{
    margin-top: 1.2%;
    font-size: 1.35rem;
    color: rgb(255, 72, 72);
    text-transform: capitalize;
    font-weight: 4rem;
}
.hide{
    display:none;
}

.loader-1 {
	height: 32px;
	width: 32px;
	-webkit-animation: loader-1-1 4.8s linear infinite;
	        animation: loader-1-1 4.8s linear infinite;
}
@-webkit-keyframes loader-1-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-1-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-1 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	clip: rect(0, 32px, 32px, 16px);
	-webkit-animation: loader-1-2 1.2s linear infinite;
	        animation: loader-1-2 1.2s linear infinite;
}
@-webkit-keyframes loader-1-2 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(220deg); }
}
@keyframes loader-1-2 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(220deg); }
}
.loader-1 span::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 28px;
	width: 28px;
	clip: rect(0, 32px, 32px, 16px);
	border: 3px solid #FFF;
	border-radius: 50%;
	-webkit-animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-1-3 {
	0%   { -webkit-transform: rotate(-140deg); }
	50%  { -webkit-transform: rotate(-160deg); }
	100% { -webkit-transform: rotate(140deg); }
}
@keyframes loader-1-3 {
	0%   { transform: rotate(-140deg); }
	50%  { transform: rotate(-160deg); }
	100% { transform: rotate(140deg); }
}
/* ANIMATION: https://codepen.io/nobuakihonma/pen/dYbqLQ */

.input{
    border: none;
    outline: none;
}
.forloading{
    gap: 0.75rem;
}

.danger{
    box-shadow: red 0px 2px 12px, red 0px 1px 2px;}

.shortened-links{
    margin-top: -3rem;
    margin-bottom: 6rem;
    gap: 1.2rem;
}
.shortened-link{
    background-color: var(--clr-100);
    padding: 0.9rem 1.8rem;
    border-radius: 0.5rem;
    align-items: center;
}
.link-short{
    color: var(--clr-400);
    font-weight: var(--fw-semibold);
}
.copying{
    background-color: var(--clr-600);
}
.copying:hover, .copying:focus-visible{
    background-color: var(--clr-800);
}

.heading{
    display: grid;
    justify-items: center;
}
.heading>h3{
    font-size: 1.8rem;
}
.heading>p{
    max-width: 30%;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: var(--fw-semibold);
}
.card>.d{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.card{
    background-color: var(--clr-100);
    border-radius: 0.5rem;
    padding: 3rem 1.5rem;
    max-width: 85%;
}
.cards{
    gap: 2rem;
    justify-items: center;
}
.heading>p{
    padding-bottom: 3rem;
    text-align: center;
    font-weight: var(--fw-semibold);
}
.img-holder{
    background-color: var(--clr-600);
    border-radius: 50%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 15%;
}
.footer>h1{
    color: var(--clr-100);
    font-weight: var(--fw-bold);
    padding-bottom: 1rem;
}
.footer{
    display: grid;
    justify-items: center;
    align-content: center;
}


.link-containers{
    padding: 3rem 0rem;
    align-items: center;
    flex-wrap: wrap;
}
.link-container>.navbtn>img{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    filter:brightness(10);
    min-width: 6rem;
}
.link-container>div>h4{
    color: var(--clr-100);
    font-weight: var(--fw-bold);
}
.link-container>div>h5{
    color: var(--clr-200);
    font-weight: var(--fw-regular);
}
.link-container>div>h5:hover{
    color: var(--clr-400);
    cursor: pointer;
    font-weight: var(--fw-regular);
}
.three{
    margin-top: 1.5rem;
    gap:0.6rem;
}
.two>div>h4{
    font-size: 1.15rem;
}
.two>div>h5{
    font-size: 0.9rem;
    margin-top: 1rem;
}


/* TABLET */
/* MOBILE*/
@media(max-width:40em){
    .horizontal{
        display: grid;
        grid-auto-flow: row;
    }
    .navbtn>img{
        width:9rem;
    }
    .navbar{
        justify-content: center;
    }
    .nav-mobile{
        margin-top: 1rem;
        display: grid;
        /* display: none; */
        background-color: var(--clr-600);
        padding: 3rem;
        border-radius: 1rem;
        justify-content: center;
        transition: 0.5s ease-out;
    }
    .nav-mobile>div>button{
        color: white;
        padding:1rem;
        text-transform: capitalize;
        font-weight: var(--fw-semibold);
        font-size: 1.5rem;
    }
    .nav-auth>.btn{
        min-width: 15rem;
    }
    .hr-nav{
        display: inline-block;
        width: 100%;

        margin-top:1.5rem;
        margin-bottom: 1.5rem;
    }

    .header, .head{
        justify-items: center;
        text-align: center;
        font-size: 1.5rem;
        display: grid;
        gap:1.5rem;
        margin-top:3rem;
        margin-bottom: 3rem;
    }
    .header>h1{
        line-height: 3rem;
    }
    .header>.btn{
        font-size: 1.5rem;
        max-width:15rem;
        margin-bottom: 5rem;
    }
    .header-ill{
        order:-1;
    }
    .input-container{
        grid-template-rows: 1fr 1fr;
        gap: 1.2rem;
        padding: 2.4rem 1.8rem;
        background-image: url(./images/bg-shorten-mobile.svg);
        background-size:cover;
    }
    .input-container>div{
        overflow: hidden;
    }
    .shortened-links{
        margin-top: -6rem;
    }
    .shortened-link{
        margin: 1.2rem 0rem;
        justify-items: left;
        gap: 0.6rem;
    }
    .shortened-link>button{
        min-width: 100%;
        border-radius: 0.5rem;
    }
    .heading{
        text-align: center;
        align-items: center;
        padding-bottom: 3rem;
    }
    .heading>p{
        max-width: 80%;
    }
    .card{
        padding: 3rem 1rem;
        margin-bottom: 2.5rem;
        min-width: 110%;
        display: grid;
    }
    .img-holder{
        padding: 2.5vw;
        margin-top: -23%;
        margin-bottom: 10%;
        min-width: 3.5rem;
    }
    .img-holder img{
        object-fit: cover;
    }
    .footer{
        background-image: url('./images/bg-boost-mobile.svg');
        height: 300px;
        background-size:cover;
        text-align: center;
    }
    .footer>button{
        font-size: calc(100% + 0.5rem);
    }
    .link-containers{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    .two{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .three{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
}
