@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root{
    --clr-primary: #66d2d1;
    --clr-primary-hover: #8be6e5;

    --clr-neutral: #3a3054;
    --clr-neutral-dark: #232027;
    --clr-neutral-grey: #9e9da2;
    --clr-neutral-light: #eff1f6;
    font-family: 'Montserrat', sans-serif;
    --regular:400;
    --medium:500;
    --semibold:600;
    --bold:700;
    --extrabold:800;
    --black:900;
    
}
.App{
    display: grid;
    grid-template-rows: 1fr;
    overflow:hidden
}
.navbar{
    background-color: white;
    /* height:12.5rem; */
    height: 100px;
}
.header{
    background-color: white;    
    /* height:37.5vw; */
    height:700px;
}
.main{
    background-color: var(--clr-neutral-light);
    /* height:56.25vw; */
    height:900px;
}
.footer{
    background-color: var(--clr-neutral);
    /* height:15.625vw; */
    height:250px;
}
.links{
    background-color: var(--clr-neutral-dark);
    /* height: 18.75vw; */
    height:300px;

}

/* NAVBAR */
.navbar{
    margin-top:1%;
    margin-left:10%; margin-right: 10%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 50% 30%;
    align-items: center;
}
.btns-logo>img{
    height: 1.8rem;
}
.btns-links>button, .btn-signin{
    margin-right: 0.75rem;
}
.btns-auth{
    justify-self: end;
}
.btn-signin, .btn-nav, .btn{
    background: none;
    border:none;
    outline:inherit;
    text-transform: capitalize;
    font-weight: var(--black);
    font-size:1.25rem;
    color:var(--clr-neutral-grey);
    cursor: pointer;
    transition:1s ease;
}
.btn-signin:hover, .btn-nav:hover{
    color: black;
}
.btn{
    background-color: var(--clr-primary);
    color: white;
    padding:0.7rem 1rem;
    border-radius: 3rem;
    transition:1s ease;
}
.btn:hover{
    background-color: var(--clr-primary-hover);
}


/* HEADER */
.header{
    margin-left:10%; margin-right: 10%;
    display:grid;
    align-items: center;
    grid-template-columns: 50% 45%;
    gap:8rem;
}
.heading{
    font-weight: var(--bold);
    font-size:5rem;
    letter-spacing: -0.1vw;
    line-height: 5.5rem;
}
.content{
    font-weight: var(--semibold);
    font-size: 1.5rem;
    color: var(--clr-neutral-grey);
    margin-bottom: 2.8rem;
    line-height: 2.5rem;

}
.header-left>.btn{
    font-weight: 1000;
    font-size: 1.4rem;
    padding:1.2rem 2.2rem;
    letter-spacing: 0.08rem;
    align-items: center;
}
.header-right>img{
    width:97%;
}


/* URL BOX */
.main{

}
.input-container{
    margin-top:-5%;
    margin-left:10%; margin-right: 10%;
    padding-left:4%; padding-right:4%;
    display:grid;
    grid-template-columns: 75% 15%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 168px;
    background-color: var(--clr-neutral);
    border-radius: 1rem;
}
.link-input{
    height:4rem;
    border-radius: 1rem;
    font-weight: var(--regular);
    font-size: 1.5rem;
    color:black;
    padding-left:2rem;
}
.shorten{
    height:4rem;
    width:rem;
    border-radius: 0.8rem;
    justify-self: left;
}
