@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* :root{
    font-family: 'Montserrat', sans-serif;

    --clr-primary-400: #66d2d1;
    --clr-primary-hover: #8be6e5;

    --clr-neutral: #3a3054;
    --clr-neutral-dark: #232027;
    --clr-neutral-grey: #9e9da2;
    --clr-neutral-light: #eff1f6;


    
} */
